.cta-container {
  width: 60%;
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow";
  gap: 0.5rem;
}

/* İmages */

.cta-left,
.cta-right {
  width: 50%;
  height: 95%;
}

.cta-right-top,
.cta-right-bottom {
  height: 95%;
}

.cta-left,
.cta-right-top,
.cta-right-bottom {
  border-radius: 0.6rem;
  background-size: cover;
  background-position: center;
}

.cta-left {
  background-image: url("../../../Assets/Iteration-2-aseets/cta/kart-1.png");
}

.cta-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta-right-top {
  width: 100%;
  background-image: url("../../../Assets/Iteration-2-aseets/cta/kart-2.png");
}

.cta-right-bottom {
  width: 100%;
  background-image: url("../../../Assets/Iteration-2-aseets/cta/kart-3.png");
}

/* Header */

.cta-left h2 {
  font-family: "Quattrocento", serif;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  padding: 30px 0 0 30px;
}

.cta-left p {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding-left: 30px;
}

.cta-left button {
  margin-left: 30px;
}

.cta-right h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 30px 0 0 30px;
}

.cta-right button {
  margin: 20px 0 0 30px;
}

.cta-right-bottom h2 {
  color: #292929;
}

.red {
  color: #d80027;
}

/* Button */

.cta-container button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 12px;
  color: #ce2829;
}
