.cta-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.cta-header p {
  font-family: "Satisfy";
  font-size: 2rem;
  color: #ce2829;
}

.cta-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
