.cta-navbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf7f2;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 5px 10px;
  font-weight: 500;
}

.cta-navbar > div:nth-child(2) {
  background-color: #292929;
  color: #fff;
}
