* {
  font-family: "Barlow";
}

/*? Header */

.order-pizza-header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ce2829;
}

/*? Main */

.order-pizza-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*? Hero */

.order-pizza-hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #faf7f2;
  padding-bottom: 3rem;
}

/* Hero Image*/

.order-pizza-hero-image {
  width: 40%;
  height: 18rem;
  background-image: url("../../../Assets/Iteration-2-aseets/pictures/form-banner.png");
  background-size: cover;
  background-position: center;
}

/* Hero-Nav */

.order-pizza-hero-nav {
  width: 40%;
}

.order-pizza-hero-nav-home-link {
  color: #5f5f5f;
  text-decoration: none;
  padding: 0;
}

.order-pizza-hero-nav-home-link-span {
  color: #5f5f5f;
}

.order-pizza-hero-nav-order-link {
  color: #ce2829;
  font-weight: 700;
  text-decoration: none;
}

/* Hero Info */

.order-pizza-hero-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-pizza-hero-info-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-pizza-hero-info-details > div {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Hero Elements*/

.order-pizza-hero-info-header {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #292929;
}

.order-pizza-hero-info-details > p {
  font-weight: 700;
  font-size: 28px;
  color: #292929;
}

.order-pizza-hero-info-details > div > p,
.pizza-text {
  color: #5f5f5f;
}

/*? Form */

.form-section {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 40%;
}

/* Form Elements */

fieldset {
  width: 100%;
  border: none;
}

legend {
  font-weight: 600;
  color: #292929;
  font-size: 20px;
  margin-bottom: 20px;
}

/*? Size Picker */

.radio-select {
  width: 100%;
  display: flex;
}

.pizzaSize-radio {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  color: #5f5f5f;
}

/*? Thick Picker */

.pizzaEdge-select > select {
  font-weight: 500;
  color: #5f5f5f;
  width: 10rem;
  height: 2rem;
  /* padding: 1rem; */
}

/*? Item Picker */

.selections-checkbox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.selections-checkbox > p {
  color: #5f5f5f;
  font-weight: 500;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  gap: 30px;
}

.checkbox-container label {
  font-weight: 700;
  color: #5f5f5f;
}

/*? Form Third Part */

.username-input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.username-input input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  padding-left: 20px;
}

.username-input input::placeholder {
  font-size: 14px;
  color: #5f5f5f;
  font-weight: 500;
}

/*? Form Fourth Part */

.order-note {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.order-note input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  padding-left: 20px;
}

.order-note input::placeholder {
  font-size: 14px;
  color: #5f5f5f;
  font-weight: 500;
}

.hr {
  width: 100%;
}

/*? Order Summary */

.form-buttons {
  width: 100%;
  border: none;
  display: flex;
  gap: 5%;
}

.pizza-count {
  display: flex;
  align-items: start;
  width: 35%;
  height: 56px;
}

.pizza-count button {
  background-color: #fdc913;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 33%;
  height: 100%;
  cursor: pointer;
}

.pizza-count p {
  width: 34%;
  height: 96%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.order-summary {
  width: 60%;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.order-summary h3 {
  margin-top: 40px;
  margin-left: 40px;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.order-summary p:last-child {
  color: #ce2829;
}

.submit-btn {
  width: 100%;
  height: 62px;
  margin-top: 30px;
  border: none;
  background-color: #fdc913;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

/*? Footer */

.order-pizza-footer {
  background-color: #1a1a1a;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
